[submodule "third-party/vma"]
	path = third-party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third-party/vk-bootstrap"]
	path = third-party/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "third-party/spirv-reflect"]
	path = third-party/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "third-party/dx12-headers"]
	path = third-party/dx12-headers
	url = https://github.com/microsoft/DirectX-Headers
